.Time {
    text-align: center;
    padding: 32px;
    position: relative;
}

.Time h3 {
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block; /* para a border bottom a linha q fica em baixo do h3 fique apenas em baixo do texto, e n na tela toda */ 
    padding: 8px;
}

.campeao {
    display: flex;
    margin-top: 32px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cor {
    position: absolute;
    right: 50px;
    top: 10px;
}