.campo-texto {
    margin: 4em;
}
.campo-texto label{
    display: block; /* para quebrar a linha e não ficar lado a lado*/
    margin-bottom: 8px;
    font-size: 24px;
}
.campo-texto input {
    background-color: #fff;
    width: 100%;
    box-shadow: 10px 10px 30px rgb(0, 0, 0, 0.06);
    border: none;
    padding: 24px;
    font-size: 24px;
}